.resume .container {
 height: 80vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.resume h3 {
 font-size: 3rem;
 margin: 2rem;
}

.resume h6 {
 margin-top: 1rem;
 font-size: 1.5rem;
}

.resume li {
 margin-left: 30px;
 font-size: 1.2rem;
}
.resume span{
 font-size: 2rem;
}