.footer {
   
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.icon-bar {
    display: flex;
    flex-direction: row;

}
.github {
    font-size: 50px !important;
    color: brown;
    margin-right: 30px;

}
.linkedin {
    font-size: 50px;
    color: brown;

}
.twitter {
    font-size: 50px;
    color: brown;
    margin-left: 30px;
}